.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #4e68ab;
    border-radius: 8px;
    background: #7ea9ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ea9ff), to(#4e68ab));
    background: -moz-linear-gradient(top, #7ea9ff, #4e68ab);
    background: linear-gradient(to bottom, #7ea9ff, #4e68ab);
    text-shadow: #31416b 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #6182d6;
    background: #97cbff;
    background: -webkit-gradient(linear, left top, left bottom, from(#97cbff), to(#5e7dcd));
    background: -moz-linear-gradient(top, #97cbff, #5e7dcd);
    background: linear-gradient(to bottom, #97cbff, #5e7dcd);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #4e68ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e68ab), to(#4e68ab));
    background: -moz-linear-gradient(top, #4e68ab, #4e68ab);
    background: linear-gradient(to bottom, #4e68ab, #4e68ab);
}
